.contants{
    position: relative;
    background: #fff;
    flex: 1;
    flex-direction: column;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    margin-bottom: 30px;
    padding: 20px;
}