.page-wrapper{
    position: fixed;
    /* background: white; */
    background: #2A2A2A;
    height: 100%;
    width: fit-content;
}
.sideItem{
    padding : 10px 16px;
    color: black;
}
.sideItem:hover  {
    background:#2A2A2A; 
    border-left: 5px solid #03a9f3;
}

.active {
    background:#2A2A2A; 
    border-left: 5px solid #03a9f3;
}