.contan {
    position: fixed;
    top: 0;
    left: 0px;
    height: 100%;
    width: 100%;
    
}

.img-holder{
    position: absolute;
    top:0px;
    height: 100%;
    width: 80%; 
    background-image: url("../../img/d2.jpg");
    background-size: cover;
}

.login_holder{
    position: absolute;
    top: 0;
    left: 70%;
    width: 30%;
    height: 100%;
    background: white;
    padding: 80px 10px;
}
.button{
    width: 100%;
    border: none;
    background: #03a9f3;
}
.logo-div{
    height: 90px;
    width: 90%;
    padding: 0 15px;
    margin-bottom: 10px;
}
.logo{
    height: 100%;
    width: 100%;
    background-image:url('../../img/icon.png');
    background-size: cover;

}